:root {
  --navy: #2A3D51;
  --light-bg: #f3f3f3;
  --cta-bg: #e9edf2;
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: linear-gradient(135deg, #243647, #3A5168);
    position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: white;
}

/* HAMBURGER */
.hamburger {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: white;
}

/* MENU */
.mobile-nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: #243647;
  width: 100%;
  display: none;
  flex-direction: column;
  z-index: 10;
}

.mobile-nav a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,0.1);
}

/* OPEN STATE */
.mobile-nav.open {
  display: flex;
}


/* HOME */
.section-hero {
  padding: 3rem 1.5rem;
  background: linear-gradient(135deg, #243647, #3A5168);
  color: white;
}

.hero-name {
   font-size: 2rem;
   margin: 0;
} 

.hero-role {
  font-size: 1.1rem;
  opacity: 0.9;
  margin: 0.5rem 0;
}

.hero-intro {
  font-size: 0.95rem;
  opacity: 0.8;
  max-width: 28rem;
}

.hero-actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


/* Buttons (herbruikbaar) */
.btn {
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.btn.primary {
  background: #4f6f8f;
  color: white;
}

.btn.secondary {
  background: white;
  color: #243647;
}

.btn.tertiary{
  background: #4f6f8f;
  color: white;
  padding: 0.5rem 1.5rem;
}

.section-projects {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2.5rem;
}

.section-projects h2 {
  margin: 1rem 0 -0.5rem 0;
}

.project {
  max-width: 420px;
  background-color: var(--light-bg);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 5px 5px 6px rgba(0,0,0,0.08);
}

.project-media{
  margin: 0;
  padding: 0;
}

.project-media img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
}

.project-content {
  padding: 1rem;
}

.project-content h3 {
  margin: 0 0 0.5rem 0;
}

.project-content p {
  margin: 0;
  color: #555;
}

.project-tags {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
  margin: 0;
  list-style: none;
}

.project-tags li {
  background: #e0e0e0;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  font-size: 0.8rem;
}

.project-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

/* Over mij */
.section-about {
  background-color: var(--light-bg);
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.section-about h2 {
  margin: -0.8rem 0 0 0;
}

.about-text {
  font-size: 0.95rem;
  color: #444;
  max-width: 32rem;
  line-height: 1.6;
}

.about-actions {
  margin-top: 1rem;
}

/* PROJECT-DETAIL */
.section-hero-detail {
  padding: 1.5rem 1.5rem;
  background: linear-gradient(135deg, #243647, #3A5168);
  color: white;
}

.back-link {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-size: 0.9rem;
}

.back-link:hover {
  text-decoration: underline;
}

.hero-content{
  padding: 0.5rem 0;
}

.project-tags-detail{
  display: flex;
  gap: 0.5rem;
  padding: 0.1rem 0 1rem 0;
  margin: 0;
  list-style: none;
}

.project-tags-detail li{
  background: #e0e0e0;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  font-size: 0.8rem;
}

.project-content-detail{
  padding: 1.5rem 4.4rem;
}


.project-tags-aanpak {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.project-tags-aanpak li {
  position: relative;
  padding: 0.45rem 1.5rem 0.45rem 1.5rem;
  background: #d6dbe2;
  font-size: 0.8rem;
  color: #333;

  clip-path: polygon(
    0 0,
    85% 0,
    100% 50%,
    85% 100%,
    0 100%
  );
}

/* overlap */
.project-tags-aanpak li + li {
  margin-left: -15.7px;
}

/* links ligt boven rechts */
.project-tags-aanpak li:nth-child(1) { z-index: 3; }
.project-tags-aanpak li:nth-child(2) { z-index: 2; }
.project-tags-aanpak li:nth-child(3) { z-index: 1; }

/* actieve stap */
.project-tags-aanpak li.active {
  background: #4f6f8f;
  color: white;
}

/* afrondingen */
.project-tags-aanpak li:first-child {
  border-radius: 6px 0 0 6px;
}

.project-tags-aanpak li:last-child {
  clip-path: none;
  border-radius: 0 6px 6px 0;
}


/* FOOTER */
.section-cta {
  padding: 0.9rem 1.5rem;
  box-shadow: 0 -8px 6px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.section-cta h2 {
  margin: 0;
  font-size: 1.2rem;
}

.site-footer {
  text-align: center;

  font-size: 0.85rem;
  color: #666;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}